build/
build-win/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.log
*.mp4
.cache/
.vs/
.vscode/
.idea/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.tlog
*.lastbuildstate
*.recipe
